body,
html{
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    background-color: #34495E;
}
.header-name a{
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #34495E !important;
}
.header-name a:hover{
    color: #1ABC9C !important;
    font-size: 27px !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
.card-body {
    min-height: 500px !important;
}

.fa {
    font-size: 1.5em;
    padding: 20px;
}

/*Contact me icons*/
#contact .fa-envelope,
#contact .fa-whatsapp,
#contact .fa-copy,
#contact .fa-phone {
    font-size: 3em;
    display: block;
}

a.nav-link {
    border-radius: 0px !important;
    background-color: #1ABC9C !important;
}

a.nav-link.active,
a.nav-link:hover {
    background-color: #34495E !important;
}

a,
.copyright {
    color: #fff !important;
}

/*Responsive media*/
@media (max-width: 768px) {
    .fa {
        font-size: 1em;
        padding: 5px;
    }

    #contact .fa-envelope,
    #contact .fa-whatsapp,
    #contact .fa-copy,
    #contact .fa-phone {
        font-size: 2em;
        display: block;
    }
}